*
fonts/*
achievements/*
models/*
music/*
sfx/*
scenarios/*
*.dll
*.exe
textures/*
game/*

###  Except

!.gitignore

# Game
!game/beacons.xml
!game/biomes.xml
!game/buildingUI.xml
!game/buildings.xml
!game/characters.xml
!game/commands.xml
!game/commodities.xml
!game/dynamics.xml
!game/tagicons.xml
!game/jobs/decision_tree_jobs.xml
!game/jobs/fishperson_jobs.xml
!game/jobs/jobs.xml
!game/jobs/workshop_jobs.xml

# Models
!models/debris/craterBlastLarge00.upm
!models/debris/craterBlastLarge01.upm
!models/debris/craterBlastLarge02.upm
!models/debris/craterBlastMedium00.upm
!models/debris/craterBlastMedium01.upm
!models/debris/craterBlastMedium02.upm
!models/debris/craterBlastSmall00.upm
!models/debris/craterBlastSmall01.upm
!models/debris/craterBlastSmall02.upm

!models/nature/animalBurrowLarge.upm
!models/nature/animalBurrowSmall.upm

!models/nature/trees/coniferLargeCold.upm
!models/nature/trees/coniferMediumCold.upm
!models/nature/trees/coniferSmallCold.upm
!models/nature/trees/pineTreeLrg00Cold.upm
!models/nature/trees/pineTreeMed00Cold.upm
!models/nature/trees/pineTreeSml00Cold.upm

# Scripts

!embark_cold.lua
!embark_desert.lua
!embark_temperate.lua
!embark_tropical.lua
!gameinit.lua
!gamestart.lua

!scripts/entity/animal.edb
!scripts/entity/commodity.edb
!scripts/entity/explosions.edb
!scripts/entity/factions.edb
!scripts/entity/food.edb
!scripts/entity/histories.edb
!scripts/entity/modules.edb
!scripts/entity/objectclusters.edb
!scripts/entity/trees.edb
!scripts/entity/vehicle.edb
!scripts/entity/world.edb

!scripts/events/creepy_night_start.go
!scripts/events/eerie_spectres_ending.go
!scripts/events/empire_times_ending.go
!scripts/events/fishpeople_caravan.go
!scripts/events/fishpeople_collect_eggs.go
!scripts/events/fishpeople_nesting.go
!scripts/events/fishpeople_patrol.go
!scripts/events/foreign_attack_bandits.go
!scripts/events/foreign_intervention.go
!scripts/events/foreign_invasion_enemies_arrive.go
!scripts/events/foreign_relations_correction.go
!scripts/events/planets_align.go
!scripts/events/rogue_republicain_ending.go

!scripts/gameobjects/academy.go
!scripts/gameobjects/ai_agent.go
!scripts/gameobjects/ai_damage.go
!scripts/gameobjects/airship_mast.go
!scripts/gameobjects/bandit.go
!scripts/gameobjects/barbershop.go
!scripts/gameobjects/barracks.go
!scripts/gameobjects/buildings.go
!scripts/gameobjects/chapel.go
!scripts/gameobjects/citizen.go
!scripts/gameobjects/clearable.go
!scripts/gameobjects/fishperson.go
!scripts/gameobjects/flatten_zone.go
!scripts/gameobjects/foreign_office.go
!scripts/gameobjects/foreigner.go
!scripts/gameobjects/geometer.go
!scripts/gameobjects/geometer_observator.go
!scripts/gameobjects/grave.go
!scripts/gameobjects/graveyard.go
!scripts/gameobjects/item.go	change
!scripts/gameobjects/laboratory.go
!scripts/gameobjects/mine.go
!scripts/gameobjects/module.go
!scripts/gameobjects/naturalist_office.go
!scripts/gameobjects/office.go
!scripts/gameobjects/outsider.go
!scripts/gameobjects/public_house.go
!scripts/gameobjects/quaggaroth.go
!scripts/gameobjects/spectre.go
!scripts/gameobjects/steamknight.go

!scripts/gameobjects/FSM/citizen/butcher_to_stack.fsm
!scripts/gameobjects/FSM/citizen/house_drink_tea_in_chair.fsm
!scripts/gameobjects/FSM/citizen/mine.fsm
!scripts/gameobjects/FSM/citizen/perform_last_rites_on_grave.fsm
!scripts/gameobjects/FSM/citizen/pub_drink_in_chair.fsm
!scripts/gameobjects/FSM/citizen/vicar_confront_spectre.fsm
!scripts/gameobjects/FSM/citizen/waste_time.fsm

!scripts/gameobjects/FSM/fishperson/fishperson_remove_fishperson.fsm
!scripts/gameobjects/FSM/fishperson/geometer_exit_map.fsm

# Textures
!textures/nature/coniferColdDif.tga
!textures/nature/coniferLargeColdDif.tga
!textures/nature/coniferSmallColdDif.tga
!textures/nature/trees/pineTree00ColdDif.tga

!textures/terrain/swampyDirtSide01.tga

# ui
!ui/academyOfficeDialog.xml
!ui/barbershopDialog.xml
!ui/barracksDialog.xml
!ui/ce_crest_painted2.png
!ui/ce_title_text_painted.png
!ui/chapelOfficeDialog.xml
!ui/colonistDialog.xml
!ui/commoditiesDialog.xml
!ui/commodityIcons.xml
!ui/commodityIconsGray.xml
!ui/factionsDialog.xml
!ui/farmDialog.xml
!ui/foreignOfficeDialog.xml
!ui/gameplayMainUI.xml
!ui/houseDialog.xml
!ui/housingMenuDialog.xml
!ui/jobsDialog.xml
!ui/laboratoryDialog.xml
!ui/mainMenuUI.xml
!ui/mineDialog.xml
!ui/naturalistsOfficeDialog.xml
!ui/newUI01.png
!ui/newUI01.xml
!ui/officeDialog.xml
!ui/officeMenuDialog.xml
!ui/orderIcons.xml
!ui/orderIconsGray.xml
!ui/productionMenuDialog.xml
!ui/publicHouseDialog.xml
!ui/thoughtIcons.xml
!ui/thoughtIconsGray.xml
!ui/tradeOfficeDialog.xml
!ui/ui_sheet00.png
!ui/workPartyDialog.xml
!ui/workcrewBackgrounds00.png
!ui/workcrewBackgrounds01.png
!ui/workshopDialog.xml

!ui/icons/commodityIcons00.png
!ui/icons/commodityIconsGray00.png
!ui/icons/orderIcons00.png
!ui/icons/orderIconsGray00.png
!ui/icons/thoughtIcons00.png
!ui/icons/thoughtIconsGray00.png

!ui/launcher/launcher_bg.png

!ui/loadingscreens/titleScreen8.png

!ui/styles/commandsFancy.xml
!ui/styles/default.xml

!ui/tooltips/banditDeadTooltip.xml
!ui/tooltips/banditFriendlyTooltip.xml
!ui/tooltips/banditHostileTooltip.xml
!ui/tooltips/banditTooltip.xml
!ui/tooltips/blankTooltip.xml
!ui/tooltips/clockworkianFriendlyDeadTooltip.xml
!ui/tooltips/clockworkianFriendlyTooltip.xml
!ui/tooltips/colonistDeadTooltip.xml
!ui/tooltips/commodityTooltipDetailed.xml
!ui/tooltips/fishpersonDeadTooltip.xml
!ui/tooltips/fishpersonFriendlyTooltip.xml
!ui/tooltips/fishpersonHostileTooltip.xml
!ui/tooltips/fishpersonTooltip.xml
!ui/tooltips/foreignerDeadTooltip.xml
!ui/tooltips/foreignerFriendlyTooltip.xml
!ui/tooltips/foreignerHostileTooltip.xml
!ui/tooltips/foreignerTooltip.xml
!ui/tooltips/groundItemTooltipDetailed.xml
!ui/tooltips/occultInspectorDeadTooltip.xml
!ui/tooltips/occultInspectorTooltip.xml
!ui/tooltips/spectreTooltip.xml
!ui/tooltips/steamknightDeadTooltip.xml
!ui/tooltips/steamknightTooltip.xml